.root {
    display: flex;
}
.details {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.cover {
    width: 151;
}
.controls {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 1rem
}
.playIcon {
    height: 38;
    width: 38;
}